In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

In [2]:
# Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame

city_df = pd.read_csv("/Users/mikan/Documents/Data Science Bootcamp/Python_API_Homework/WeatherPy/export_city_df.csv") 
city_df.head()

,City_id,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_temp,Wind_Speed
0,1015776,Bredasdorp,92,ZA,1583979995,88,-34.53,20.04,19.00,6.20
1,347634,Ţahţā,75,EG,1583980094,31,26.77,31.50,26.00,9.30
2,2236967,Soyo,76,AO,1583980004,87,-6.13,12.37,26.13,0.73
3,3421765,Nanortalik,0,GL,1583979997,72,60.14,-45.24,-3.52,2.32
4,3883457,Lebu,67,CL,1583980239,95,-37.62,-73.65,11.01,0.91

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Humidity Heatmap
# Configure gmaps.
# Use the Lat and Lng as locations and Humidity as the weight. 
# Add Heatmap layer to map. 

#city_df.dtypes

# Store latitude and longitude in locations
locations = city_df[["Lat", "Lng"]]
locations.head()

# Humidity as the weight
weight_humi=city_df['Humidity']

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight_humi, 
                               dissipating=False, max_intensity=300,
                                point_radius=5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Create a variable for temeratures in Fahrenheit 
# reference https://www.pythonforbeginners.com/code-snippets-source-code/python-code-celsius-and-fahrenheit-converter
Max_temp_F=(city_df['Max_temp']* 9/5) + 32

# Add this field to city_df
city_df['Max_temp_F'] = Max_temp_F 

# Find rows that meet the 4 conditions 
city_df2 = city_df[((city_df['Max_temp_F'] > 70) & (city_df['Max_temp_F'] < 80)) 
                   &  (city_df['Wind_Speed'] < 10) & (city_df['Cloudiness'] == 0)]

# Drop any rows will null values. 
city_df2.dropna()

city_df2.head()

,City_id,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_temp,Wind_Speed,Max_temp_F
98,3461425,Ilhabela,0,BR,1583980096,78,-23.78,-45.36,24.40,6.95,75.920
117,3450232,Santa Fé do Sul,0,BR,1583980038,87,-20.21,-50.93,22.34,2.06,72.212
164,3382160,Cayenne,0,GF,1583980203,94,4.93,-52.33,22.00,2.52,71.600
166,3448903,São João da Barra,0,BR,1583980275,82,-21.64,-41.05,22.90,3.85,73.220
187,3617154,Puerto Cabezas,0,NI,1583980280,94,14.04,-83.39,22.39,2.16,72.302

In [6]:
# Select the necessary fields and save
hotel_df=city_df2[['City', 'Country', 'Lat', 'Lng']]

# Create an empty variable for hotel names
hotel_df['hotel_name']=''
hotel_df

C:\Users\mikan\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                  City Country    Lat     Lng hotel_name
98            Ilhabela      BR -23.78  -45.36
117    Santa Fé do Sul      BR -20.21  -50.93
164            Cayenne      GF   4.93  -52.33
166  São João da Barra      BR -21.64  -41.05
187     Puerto Cabezas      NI  14.04  -83.39
200          Netrakona      BD  24.88   90.72
203            Pokhara      NP  28.23   83.98
261             Dwārka      IN  22.24   68.97
293         São Filipe      CV  14.90  -24.50
311    Dzilam González      MX  21.28  -88.93
348            Iquique      CL -20.22  -70.14
380             Bamako      ML  12.65   -8.00
426         Srīvardhan      IN  18.03   73.02
431       Batemans Bay      AU -35.72  150.18
465             Ikauna      IN  27.55   81.97
470             Sittwe      MM  20.15   92.90

In [7]:
# Hotel Map

# Store all of those necessary variables into hotel_df.
# Add a "Hotel Name" column to the DataFrame.
hotel_df=city_df2[['City', 'Country', 'Lat', 'Lng']]

hotel_df['hotel_name']=''

# Set parameters to search for hotels with 5000 meters.
target_type = "Londgin" 
city_coords = city_df2[["Lat", "Lng"]]
radius = 5000

# rewrite params dict

params = {
    "types": target_type,
    "radius": radius,
    "key": g_key
}

for index,row in hotel_df.iterrows():
    lat=row['Lat']
    lng=row['Lng']
    params["location"] = f"{lat},{lng}"

    # Build URL using the Google Maps API
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # Run request
    response = requests.get(base_url, params)

    # print the response URL, avoid doing for public GitHub repos in order to avoid exposing key
    # print(response.url)

    city_hotels = response.json()

    try:
        hotel_df.loc[index,'hotel_name']=city_hotels["results"][0]["name"]
    except (KeyError, IndexError):
        print("missing results")

hotel_df

C:\Users\mikan\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\mikan\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

                  City Country    Lat     Lng       hotel_name
98            Ilhabela      BR -23.78  -45.36         Ilhabela
117    Santa Fé do Sul      BR -20.21  -50.93  Santa Fé do Sul
164            Cayenne      GF   4.93  -52.33          Cayenne
166  São João da Barra      BR -21.64  -41.05          Grussaí
187     Puerto Cabezas      NI  14.04  -83.39   Puerto Cabezas
200          Netrakona      BD  24.88   90.72        Netrokona
203            Pokhara      NP  28.23   83.98          Pokhara
261             Dwārka      IN  22.24   68.97           Dwarka
293         São Filipe      CV  14.90  -24.50       Sao Filipe
311    Dzilam González      MX  21.28  -88.93  Dzilam González
348            Iquique      CL -20.22  -70.14          Iquique
380             Bamako      ML  12.65   -8.00           Bamako
426         Srīvardhan      IN  18.03   73.02      Shrivardhan
431       Batemans Bay      AU -35.72  150.18     Batemans Bay
465             Ikauna      IN  27.55   81.97           Ikauna
470             Sittwe      MM  20.15   92.90           Sittwe

In [8]:
# Plot markers on top of the heatmap.

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))